
@using TRACNGHIEMONLINE.Common
@model TRACNGHIEMONLINE.Common.User

@{
    ViewBag.Title = "Hệ thống trắc nghiệm online";
    Layout = "";
    User admin = ViewData["ADMIN"] as User;
    Class[] classes = ViewData["CLASS"] as Class[];
}
<!DOCTYPE html>
<html dir="ltr" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        @ViewBag.Title
    </title>
    <link rel="canonical" href="https://www.wrappixel.com/templates/xtreme-admin-lite/" />

    <link rel="icon" type="image/png" sizes="16x16" href="~/assets/images/favicon.png">

    <link href="~/dist/css/style.min.css" rel="stylesheet">

</head>

<body>

    <div class="preloader">
        <div class="lds-ripple">
            <div class="lds-pos"></div>
            <div class="lds-pos"></div>
        </div>
    </div>

    <div id="main-wrapper" data-layout="vertical" data-navbarbg="skin5" data-sidebartype="full"
         data-sidebar-position="absolute" data-header-position="absolute" data-boxed-layout="full">

        <header class="topbar" data-navbarbg="skin5">
            <nav class="navbar top-navbar navbar-expand-md navbar-dark">
                <div class="navbar-header" data-logobg="skin5">
       
                    <a class="navbar-brand" href="index.html">
            
                        <b class="logo-icon">
                    
                            <img src="~/assets/images/logo-icon.png" alt="homepage" class="dark-logo" />
                
                            <img src="~/assets/images/logo-light-icon.png" alt="homepage" class="light-logo" />
                        </b>
          
                        <span class="logo-text">
                   
                            <img src="~/assets/images/logo-text.png" alt="homepage" class="dark-logo" />
                      
                            <img src="~/assets/images/logo-light-text.png" class="light-logo" alt="homepage" />
                        </span>
                    </a>
            
                    <a class="nav-toggler waves-effect waves-light d-block d-md-none" href="javascript:void(0)">
                        <i class="ti-menu ti-close"></i>
                    </a>
                </div>
      
                <div class="navbar-collapse collapse" id="navbarSupportedContent" data-navbarbg="skin5">
              
                    <ul class="navbar-nav float-start me-auto">
                
                        <li class="nav-item search-box">

                        </li>
                    </ul>
   
                    <ul class="navbar-nav float-end">
            
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-muted waves-effect waves-dark pro-pic" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <img src="~/assets/images/users/1.jpg" alt="user" class="rounded-circle" width="31">
                            </a>
                            <ul class="dropdown-menu dropdown-menu-end user-dd animated" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="/admin/detail">
                                    <i class="ti-user m-r-5 m-l-5"></i>
                                    My Profile
                                </a>
                                <a class="dropdown-item" href="javascript:void(0)">
                                    <i class="ti-wallet m-r-5 m-l-5"></i>
                                    My Balance
                                </a>
                                <a class="dropdown-item" href="javascript:void(0)">
                                    <i class="ti-email m-r-5 m-l-5"></i>
                                    Inbox
                                </a>
                            </ul>
                        </li>
                 
                    </ul>
                </div>
            </nav>
        </header>

        <aside class="left-sidebar" data-sidebarbg="skin6">
            <!-- Sidebar scroll-->
            <div class="scroll-sidebar">
                <!-- Sidebar navigation-->
                <nav class="sidebar-nav">
                    <ul id="sidebarnav">
                        <!-- User Profile-->
                        <li>
                            <!-- User Profile-->
                            <div class="user-profile d-flex no-block dropdown m-t-20">
                                <div class="user-pic">
                                    @if (@admin.AVATAR == null)
                                    {

                                        <img src="~/assets/images/users/1.jpg" alt="users"
                                             class="rounded-circle" width="40" />

                                    }
                                    else
                                    {
                                        <img src="~/Uploads/@admin.AVATAR" alt="users"
                                             class="rounded-circle" width="40" />
                                    }
                                </div>
                                <div class="user-content hide-menu m-l-10">
                                    <a href="#" class="" id="Userdd" role="button"
                                       data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <h5 class="m-b-0 user-name font-medium">
                                            @admin.NAME
                                            <i class="fa fa-angle-down"></i>
                                        </h5>
                                        <span class="op-5 user-email">@admin.EMAIL</span>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-end" aria-labelledby="Userdd">
                                        <a class="dropdown-item" href="/admin/detail">
                                            <i class="ti-user m-r-5 m-l-5"></i> My Profile
                                        </a>

                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="/logout">
                                            <i class="fa fa-power-off m-r-5 m-l-5"></i> Logout
                                        </a>
                                    </div>
                                </div>
                            </div>
              
                        </li>

                        <li class="sidebar-item">
                            <a class="sidebar-link waves-effect waves-dark sidebar-link"
                               href="/admin" aria-expanded="false">
                                <i class="mdi mdi-view-dashboard"></i><span class="hide-menu">Dashboard</span>
                            </a>
                        </li>

                    </ul>

                </nav>

            </div>

        </aside>

        <div class="page-wrapper">

            <div class="page-breadcrumb">
                <div class="row align-items-center">
                    <div class="col-5">
                        <h4 class="page-title">Thêm mới sinh viên</h4>
                        <div class="d-flex align-items-center">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="/home">Home</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">Detail</li>
                                </ol>
                            </nav>
                        </div>
                    </div>

                </div>
            </div>
            @if (ViewBag.error != null)
            {
                <div class="form-group">
                    <div class="custom-control custom-checkbox">
                        <span style="color:red">@ViewBag.error</span>
                    </div>
                </div>

            }

            <div class="container-fluid">

                <div class="row">
            
                    <div class="col-lg-4 col-xlg-3 col-md-5">
                        <div class="card">
                            <div class="card-body">
                                <center class="m-t-30">
                                    @if (@admin.AVATAR == null)
                                    {
                                        <img src="~/assets/images/users/5.jpg"
                                             class="rounded-circle" width="150" />
                                    }
                                    else
                                    {
                                        <img src="~/Uploads/@admin.AVATAR"
                                             class="rounded-circle" width="150" />

                                    }
                                    <h4 class="card-title m-t-10">@admin.NAME</h4>
                                    <h6 class="card-subtitle">Trắc nghiệm online</h6>
                                    <div class="row text-center justify-content-md-center">
                                    </div>
                                </center>
                            </div>
                            <div>
                                <hr>
                            </div>
                            <div class="card-body">
                                <small class="text-muted">Email address </small>
                                <h6>@admin.EMAIL</h6> <small class="text-muted p-t-30 db">Phone</small>
                                <h6>@admin.PHONE</h6> <small class="text-muted p-t-30 db">Address</small>
                                <h6>@admin.ADDRESS</h6>
                                <div class="map-box">

                                </div> <small class="text-muted p-t-30 db">Social Profile</small>
                                <br />
                                <button class="btn btn-circle btn-secondary"><i class="fab fa-facebook-f"></i></button>
                                <button class="btn btn-circle btn-secondary"><i class="fab fa-twitter"></i></button>
                                <button class="btn btn-circle btn-secondary"><i class="fab fa-youtube"></i></button>
                            </div>
                        </div>
                    </div>
                    <!-- Column -->
                    <!-- Column -->
                    <div class="col-lg-8 col-xlg-9 col-md-7">
                        <div class="card">
                            <div class="card-body">
                                <div class="form-horizontal form-material mx-2">
                                    @using (Html.BeginForm("EditAdmin", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
                                    {

                                        <input type="hidden" id="ID" name="ID"
                                               class="form-control form-control-line" required value="@admin.ID">
                                        <input type="hidden" id="USERNAME" name="USERNAME"
                                               class="form-control form-control-line" required value="@admin.USERNAME">
                                        <input type="hidden" id="PICTURE" name="PICTURE"
                                               class="form-control form-control-line" required value="@admin.PICTURE">
                                        <input type="hidden" id="PERMISSION" name="PERMISSION"
                                               class="form-control form-control-line" required value="@admin.PERMISSION">
                                        <input type="hidden" id="PERMISSION_NAME" name="PERMISSION_NAME"
                                               class="form-control form-control-line" required value="@admin.PERMISSION_NAME">

                                        <input type="hidden" id="ISLOGIN" name="ISLOGIN"
                                               class="form-control form-control-line" required value="@admin.ISLOGIN">


                                        <div class="form-group">
                                            <label class="col-md-12">Name</label>
                                            <div class="col-md-12">

                                                <input type="text" id="NAME" name="NAME" placeholder="@admin.NAME" required value="@admin.NAME"
                                                       class="form-control form-control-line">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="example-email" class="col-md-12">Email</label>
                                            <div class="col-md-12">
                                                <input type="email" value="@admin.EMAIL"
                                                       class="form-control form-control-line" name="EMAIL"
                                                       id="EMAIL">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-12">Password</label>
                                            <div class="col-md-12">
                                                <input type="password" id="PASSWORD" name="PASSWORD"
                                                       class="form-control form-control-line">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-12">Phone No</label>
                                            <div class="col-md-12">
                                                <input type="text" value="@admin.PHONE" id="PHONE" name="PHONE"
                                                       class="form-control form-control-line">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-12">Address</label>
                                            <div class="col-md-12">
                                                <input type="text" value="@admin.ADDRESS" id="ADDRESS" name="ADDRESS"
                                                       class="form-control form-control-line" required>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-md-12">Birthday</label>
                                            <div class="col-md-12">
                                                <input type="date" name="BIRTHDAY" id="BIRTHDAY" class="form-control form-control-line" required value=@admin.BIRTHDAY.ToString("yyyy-MM-dd")>
                                            </div>
                                        </div>


                                        <div class="form-group">
                                            <label class="col-sm-12">Gender</label>
                                            <div class="col-sm-12">
                                                <select class="form-select shadow-none form-control-line" id="GENDER" name="GENDER">
                                                    @if (@admin.GENDER == "Nam")
                                                    {
                                                        <option value="Nam" selected>Nam</option>
                                                        <option value="Nữ">Nữ</option>
                                                    }
                                                    else
                                                    {
                                                        <option value="Nam">Nam</option>
                                                        <option value="Nữ" selected>Nữ</option>
                                                    }
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-12">Upload avatar</label>
                                            <div class="col-md-12">
                                                @Html.TextBoxFor(model => model.PICTURE, new { type = "file", accept = "image/png, image/jpeg, image/gif" })
                                                @Html.ValidationMessageFor(model => model.PICTURE)
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-sm-12">
                                                <button type="submit" class="btn btn-success text-white">Update Profile</button>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Column -->
                </div>
 
            </div>

            <footer class="footer text-center">
                All Rights Reserved by <a>TRACNGHIEMONLINE</a>.
            </footer>
         
        </div>
 
    </div>

    <script src="~/assets/libs/jquery/dist/jquery.min.js"></script>

    <script src="~/assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/dist/js/app-style-switcher.js"></script>

    <script src="~/dist/js/waves.js"></script>

    <script src="~/dist/js/sidebarmenu.js"></script>

    <script src="~/dist/js/custom.js"></script>
</body>

</html>